/*
--------------------------------------------------------------
    Base - Define os estilos globais da aplicação — cores, fontes, espaçamentos e elementos básicos.
-------------------------------------------------------------
*/

@font-face {
    font-family: 'OswaldBold';
    src: url(../fonts/OswaldBold.ttf);
}



body {
   
}

h1 {
    font-family: 'OswaldBold', sans-serif;
}