
/*=============================================================
                    Carrosel - Cabeçalho do site
==============================================================*/

/*
--------------------------------------------------------------
    Botões de certificados - após cabeçalho
-------------------------------------------------------------
*/

.btnCert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 10px;
}
