/*
--------------------------------------------------------------
    components - Guarda os estilos reutilizáveis de componentes pequenos - Botões, Cards, Formulários, Navegação, Ícones
-------------------------------------------------------------
*/      

button {
    border: none;
    background: none;
    cursor: pointer;
}


.calendar {
    height: 1rem;
}

.pencil {
    height: 1rem;
    rotate: 280deg;
}

.opacity{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.562);
}

.opacity img{
    opacity: 0.5;
}