/*
--------------------------------------------------------------
    components - Guarda os estilos reutilizáveis de componentes pequenos - Botões, Cards, Formulários, Navegação, Ícones
-------------------------------------------------------------
*/      

button {
    border: none;
    background: none;
    cursor: pointer;
}