/*
--------------------------------------------------------------
    Carrosel - Cabeçalho do site
-------------------------------------------------------------
*/

.text1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.cabeca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.car1 {
    background: url(../images/montanha.jpg);
    width: 100%;
    height: 550px;
}

/*
--------------------------------------------------------------
    Botões de certificados - após cabeçalho
-------------------------------------------------------------
*/

/*
--------------------------------------------------------------
    Travel essenstials - após certificados
-------------------------------------------------------------
*/

/*
--------------------------------------------------------------
    Finding trails - após Travel essenstials
-------------------------------------------------------------
*/

/*
--------------------------------------------------------------
    Feature Blog - após Finding trails
-------------------------------------------------------------
*/