
/*=============================================================
                    Carrosel - Cabeçalho do site
==============================================================*/


/*
--------------------------------------------------------------
    Travel essenstials - após certificados
-------------------------------------------------------------
*/

.travEssen img {
    height: 35%;
    width: 35%;
}


.travEssen {
    padding: 15px;
}